/*
*音乐播放界面CSS
*/

/*
*喜欢按钮样式
*/
QToolButton#tbtn_like_normal
{
        border-image:url(:/Img/Resource/Img/unlike.png) 0 0 0 0 stretch stretch;
}

QToolButton#tbtn_like_normal:hover
{
        border-image:url(:/Img/Resource/Img/like_clicked.png) 0 0 0 0 stretch stretch;
}

QToolButton#tbtn_like_liked
{
        border-image:url(:/Img/Resource/Img/like.png) 0 0 0 0 stretch stretch;
}
/*
*不喜欢按钮样式
*pressed缺少一个更淡的素材
*/
QToolButton#tbtn_trash
{
        border-image:url(:/Img/Resource/Img/trash_can_normal.png) 0 0 0 0 stretch stretch;
}

QToolButton#tbtn_trash:hover
{
        border-image:url(:/Img/Resource/Img/trash_can_clicked.png) 0 0 0 0 stretch stretch;
}

QToolButton#tbtn_trash:pressed
{
        border-image:url(:/Img/Resource/Img/trash_can_normal.png) 0 0 0 0 stretch stretch;
}

/*
*下一曲按钮样式
*pressed缺少一个更淡的素材
*/

QToolButton#tbtn_next
{
        border-image:url(:/Img/Resource/Img/next_normal.png) 0 0 0 0 stretch stretch;
}

QToolButton#tbtn_next:hover
{
        border-image:url(:/Img/Resource/Img/next_clicked.png) 0 0 0 0 stretch stretch;
}

QToolButton#tbtn_next:pressed
{
        border-image:url(:/Img/Resource/Img/next_normal.png) 0 0 0 0 stretch stretch;
}
/*
*时间条
*http://www.360doc.com/content/12/1115/07/6828497_247929728.shtml
*/
QSlider#play_time::groove:horizontal
{
        border:1px solid rgb(229,229,232);
        background:rgb(229,229,232);
        height:1px;
        margin:0px;
        left:1px;
        right:1px;
}

QSlider#play_time::handle:horizontal
{
        border:1px solid rgb(157,214,197);
        /*
        width:0px;
        margin:1px 1px 1px 1px;
        */
}
QSlider#play_time::sub-page:horizontal
{
        background:rgb(157,214,197);
        /*
        background:qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(27, 5, 27, 255), stop:0.25 rgba(99, 20, 102, 255), stop:0.5 rgba(154, 30, 158, 255), stop:1 rgba(173, 57, 176, 255))
        */
}

/*
*歌曲名
*/
QLabel#lbe_song_name
{
        color:rgb(51,173,133);
}


